.navigation {
    display: flex;
   background-color: antiquewhite;
  
}

.img {
    display: flex;
    flex-direction: column;
    justify-content:left;
    width: 200px;
    height: 100%;
    padding: 2em;
   
}

.img2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 250px;
    height: 100%;
   
    
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Images/pexels-binyamin-mellish-106399.jpg");
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    margin: 5px;
    padding: 15px 50px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14pt;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  .section {
    display: grid;
    background-color: antiquewhite;
    max-width: 100%;

  }
  

